:root {
  --color-link-underline: var(--color-pink-well);
}

.fancyLine {
  border-bottom: 5px solid var(--color-deep-blue-something);
  border-radius: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: var(--color-deep-blue-something);
  font-size: 2.8em;
  text-align: center;
  font-weight: var(--weight-heavy);
}

.description {
  text-align: center;
  color: var(--color-frozen-blueberry);
  font-size: var(--font-size-md);
}
