/**
 *
 * @format
 */

/* Section: Form */

:root {
  --color-link-underline: var(--color-pink-well);
}

main {
  padding-top: 2rem;
}

.fancyLine {
  border-bottom: 5px solid var(--color-deep-blue-something);
  border-radius: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: var(--color-deep-blue-something);
  text-align: middle;
  font-size: 2.8em;
  text-align: center;
}

.description {
  text-align: center;
  color: #8193b2;
  font-size: 19px;
}
