:root {
  --color-link-underline: var(--color-moray-teal);
}

.container__md > * {
  margin-bottom: 2rem;
}

/* Collapsible  */

.collapse-area {
  margin: 1rem 0;
}

.collapse-area:first-of-type {
  margin-top: 2rem;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: var(--color-dirty-linen);
  color: var(--color-industry);
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: var(--font-size-md);
  font-family: var(--font-brand);
  font-weight: 500;
  border-radius: 10px;
}

.collapsible:hover {
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: var(--color-old-laundry);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--color-cloud-nine);
}

.collapsible:after {
  content: "\002B";
  color: var(--color-linen);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2212";
}
