/**
 * /* General layouts
 *
 * @format
 */

/* Header */

.github-corner-logo {
  z-index: 1000;
}

/* Sections */

p a {
  color: #000;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

p a:hover:before {
  height: calc(100% + 6px);
}

p a:before {
  position: absolute;
  background-color: #bcfffd;
  width: 100%;
  height: 4px;
  bottom: -3px;
  content: " ";
  mix-blend-mode: multiply;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-radius: 4px;
}

li {
  padding: 5px;
}

li a {
  color: #000;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

li a:hover:before {
  height: calc(100% + 6px);
}

li a:before {
  position: absolute;
  background-color: #bcfffd;
  width: 100%;
  height: 4px;
  bottom: -3px;
  content: " ";
  mix-blend-mode: multiply;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-radius: 4px;
}

/* Collapsible  */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-family: var(--font-brand);
  font-weight: 500;
  border-radius: 10px;
}

.collapsible:hover {
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

button.collapsible:after {
  content: "\002B";
  color: var(--color-linen);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.collapsible.active:after {
  content: "\2212";
}
