:root {
  --color-text: var(--color-linen);
  --color-link-text: var(--color-linen);
  --color-link-underline: var(--color-peach);
}

.header-navlink__home {
  visibility: hidden;
}

.header__revealed .header-navlink__home {
  visibility: visible;
}

h2 {
  text-align: center;
}

/**
  db   db d88888b d8888b.  .d88b.
  88   88 88'     88  `8D .8P  Y8.
  88ooo88 88ooooo 88oobY' 88    88
  88~~~88 88~~~~~ 88`8b   88    88
  88   88 88.     88 `88. `8b  d8'
  YP   YP Y88888P 88   YD  `Y88P'
*/

.hero {
  padding: 0;
  position: relative;
  min-height: 540px;
  align-items: flex-start;
}

.hero-bg {
  position: absolute;
  margin-top: -5rem;
  height: calc(800px + 5rem);
  width: 100%;
  background: rgb(5, 4, 34);
  background: -moz-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
  background: -webkit-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
  background: linear-gradient(
    175deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(28, 14, 140, 1) 85%
  );
  z-index: -1;
}

.hero-images {
  width: 100%;
  max-width: 49rem;
  height: 100%;
  margin: 5rem auto 0;
  right: 0px;
  left: 0px;
  position: absolute;
}

.hero-container {
  width: 100%;
  max-width: 49rem;
  height: 100%;
  padding-top: 5rem;
  margin: 0 auto;
  right: 0px;
  left: 0px;
  position: absolute;
}

@media (max-width: 42rem) {
  .hero-container--overflow {
    height: 100%;
    position: relative;
    width: 100%;
  }
}

.hero-bg-img {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.hero-bg-img.star1 {
  bottom: 80px;
  left: -100px;
}

.hero-bg-img.star2 {
  bottom: 421px;
  left: -210px;
}

.hero-bg-img.star3 {
  bottom: 130px;
  left: 320px;
}

.hero-bg-img.star4 {
  left: 50px;
  max-width: 100%;
}

@media (max-width: 42rem) {
  .hero-bg-img.star4 {
    top: -175px;
  }
}

@media (min-width: 42rem) {
  .hero-bg-img.star4 {
    top: -350px;
  }
}

.hero-bg-img.star5 {
  bottom: 100px;
  left: 820px;
}

@media (max-width: 42rem) {
  .hero-bg-img.star5 {
    display: none;
  }
}

.hero-bg-img.mic {
  bottom: 212px;
  left: 195px;
}

.hero-logo {
  width: 130%;
  left: -22px;
  position: relative;
}

.hero-tagline {
  font-size: 1.2em;
  color: var(--color-linen);
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.hero--content {
  padding: 5rem 2rem;
}

@media (min-width: 68rem) {
  .hero--content {
    padding: 5rem 0;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 9px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.floating {
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.floating--short {
  animation-duration: 4s;
}

.floating--long {
  animation-duration: 9s;
}

/* Section: Form */

#now h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

/* Custom radio buttons to create/join a room*/

.custom-radios-hosting-joining {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  position: relative;
}

.input-radio {
  height: 10px;
  width: 10px;
  visibility: hidden;
}

.custom-checkmark {
  position: absolute;
  top: 0.3rem;
  left: 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--color-dirty-linen);
  border: 2.4px var(--color-linen) solid;
  border-radius: 100%;
}

.custom-radios-hosting-joining:hover input ~ .custom-checkmark {
  background-color: grey;
}

.custom-radios-hosting-joining input:checked ~ .custom-checkmark {
  background-color: var(--color-pretty-in-pink);
}

form label,
form input {
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 100%;
  border-radius: 8px;
  height: 48px;
  font-weight: 400;
  font-size: var(--font-size-md);
  font-family: var(--font-brand);
}

form input[type="text"] {
  border: 2px solid var(--color-midnight);
}

/* Section: Options */

.options-container {
  margin: -5rem 0;
  padding: 10rem 0;
  overflow: hidden;
}

.options-content {
  padding: 2rem calc(50% - (49rem / 2));
  margin: 0;
  max-width: 100%;
  position: relative;
  background-color: var(--color-pretty-in-pink);
}

.options-content > * {
  position: relative;
  z-index: 1;
}

.options-content::before,
.options-content::after {
  background-color: var(--color-pretty-in-pink);
  content: " ";
  display: block;
  height: 100px;
  position: absolute;
  transform: translate(-50%, 0) rotate(-3deg);
  z-index: 0;
  width: 250%;
  left: 0;
}

.options-content::after {
  bottom: 75%;
}

.options-content::before {
  top: 100%;
}

.options-grid {
  position: relative;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content 1fr;
}

.options--visual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options--visual img {
  padding: 20px;
  width: 75%;
}

.options--or {
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-xl);
  padding: 16px;
  color: var(--color-red-hots);
}

.options-description {
  font-weight: 500;
  padding: 16px;
  text-align: center;
  font-size: var(--font-size-md);
}

/* Section: How it works */

section#steps {
  color: var(--color-linen);
}

.steps {
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  max-width: 40rem;
}

.steps-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.steps--visual {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.steps--visual img {
  width: 200px;
  padding: 20px;
}

.steps-description {
  margin: 2rem auto;
  max-width: 15rem;
  text-align: center;
  line-height: 1.6rem;
}

.steps--label {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* Section: Recap */

.recap {
  position: relative;
  background: none;
}

.recap::before {
  content: "";
  background: var(--color-toxic-avenger);
  width: calc(100% - 60px);
  max-width: 60rem;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  z-index: 0;
  border-radius: 20px;
  transform: skew(0deg, 1.4deg);
}

.recap-contents {
  width: calc(100% - 120px);
  text-align: center;
  z-index: 1;
  position: relative;
}

.recap-description {
  font-size: var(--font-size-xl);
  margin: auto;
  max-width: 30rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.recap-link {
  display: inline-block;
  margin-top: 1rem;
}
.recap-link:before {
  display: none;
}

/* Special Footer style */

footer {
  color: var(--color-linen);
  padding: 2rem;
}

@media (max-width: 42rem) {
  .hero {
    text-align: center;
  }
  .hero .hero-logo {
    width: 100%;
    left: -24px;
    position: relative;
  }
  .options--visual img {
    /*padding:20px;*/
    width: 50%;
  }
}

section#newsletter {
  color: var(--color-linen);
  margin: auto;
}

.newsletter--description {
  margin: 2rem auto;
  max-width: 18rem;
  text-align: center;
  line-height: 1.6rem;
}

.copyWrapper {
  display: flex;
  border: 3px solid var(--color-midnight);
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  flex-direction: row;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: var(--color-smoke);
  color: var(--color-linen);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: var(--font-size-xs);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-smoke) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#myInput {
  padding: 0px 24px;
  height: 50px;
  border: 0px;
  border-radius: 8px 0px 0px 8px;
  font-size: var(--font-size-md);
  font-family: var(--font-brand);
  text-align: left;
  margin: 0px;
  margin-right: -3px;
  display: inline-block;
  width: 100%;
  outline: 0;
}

#copy {
  padding: 0px 30px;
  font-size: var(--font-size-sm);
  margin-right: 0px;
  display: inline-block;
  border: 0px;
  border-radius: 0px 5px 5px 0px;
  border-left: 3px solid var(--color-midnight);
  outline: 0;
}

.join-container {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

@media (min-width: 60rem) {
  .hero {
    padding-top: 5rem;
  }

  .join-container {
    grid-template-columns: minmax(0, 1fr) 320px;
  }

  .hero-tagline {
    text-align: left;
    margin-bottom: 0;
  }

  .join-image {
    position: relative;
    left: -1rem;
  }
}
