/**
 * /* General layouts
 *
 * @format
 */

#home {
  background-color: var(--color-midnight);
  overflow-x: hidden;
}

#home header:not(.revealed) {
  background: none;
  position: relative;
}

#home header:not(.revealed) .page-link a {
  color: var(--color-linen);
}

#home header:not(.revealed) .logo {
  visibility: hidden;
}

/* Header */

/* Sections */

h2 {
  margin: 0 0 1rem;
  text-align: center;
  /*font-family: "Multicolore", sans-serif;*/
}

/*Section: Hero */

.hero {
  padding: 0;
  position: relative;
  min-height: 540px;
}

.hero-bg {
  position: absolute;
  margin-top: -5rem;
  height: calc(800px + 5rem);
  width: 100%;
  background: rgb(5, 4, 34);
  background: -moz-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
  background: -webkit-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
  background: linear-gradient(
    175deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(28, 14, 140, 1) 85%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050422",endColorstr="#080571",GradientType=1);
  /*   transform: rotate(-3deg); */
  z-index: -1;
}

.hero-container {
  width: 100%;
  max-width: 49rem;
  height: 100%;
  margin: 5rem auto 0;
  right: 0px;
  left: 0px;
  position: absolute;
}

@media (max-width: 42rem) {
  .hero .hero-container--overflow {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

.hero .hero-bg-img {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.hero .hero-bg-img.star1 {
  bottom: 80px;
  left: -100px;
}

.hero .hero-bg-img.star2 {
  bottom: 421px;
  left: -210px;
}

.hero .hero-bg-img.star3 {
  bottom: 130px;
  left: 320px;
}

.hero .hero-bg-img.star4 {
  left: 50px;
  max-width: 100%;
}

@media (max-width: 42rem) {
  .hero .hero-bg-img.star4 {
    top: -175px;
  }
}

@media (min-width: 42rem) {
  .hero .hero-bg-img.star4 {
    top: -350px;
  }
}

.hero .hero-bg-img.star5 {
  bottom: 100px;
  left: 820px;
}

@media (max-width: 42rem) {
  .hero .hero-bg-img.star5 {
    display: none;
  }
}

.hero .hero-bg-img.mic {
  bottom: 212px;
  left: 195px;
}

.hero .section--content {
  position: relative;
  z-index: 0;
}

.hero .layout-flex {
  align-items: flex-start;
}

.hero .hero-logo {
  width: 130%;
  left: -22px;
  position: relative;
}

.hero .hero-tagline {
  font-size: 1.2em;
  color: var(--color-linen);
  font-weight: 400;
}

.hero .hero--content {
  padding: 5rem;
}

@media (min-width: 68rem) {
  .hero .hero--content {
    padding: 5rem 0;
  }
}

/* Section: Form */

.hero h2 {
  color: var(--color-linen);
}

#now h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.hero a {
  color: var(--color-linen);
  font-weight: 400;
}

/* Custom radio buttons to create/join a room*/

.custom-radios-hosting-joining {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  position: relative;
}

.input-radio {
  height: 10px;
  visibility: hidden;
}

.custom-checkmark {
  position: absolute;
  top: 0.3rem;
  left: 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #eee;
  border: 2.4px white solid;
  border-radius: 100%;
}

.custom-radios-hosting-joining:hover input ~ .custom-checkmark {
  background-color: grey;
}

.custom-radios-hosting-joining input:checked ~ .custom-checkmark {
  background-color: var(--color-pretty-in-pink);
}

form label,
form input {
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 100%;
  border-radius: 8px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-brand);
}

form input[type="text"] {
  border: 2px solid var(--color-midnight);
}

/* Section: Options */

section#options {
  position: relative;
  background: none;
  color: var(--color-linen);
  padding: 0;
  text-align: center;
}

section#options .section--content {
  padding: 5rem 0;
}

@media (max-width: 42rem) {
  section#options {
    margin-top: 125px;
    margin-bottom: -50px;
  }

  .diagonal-bg--mobile {
    height: 150px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .diagonal-bg--mobile-top {
    margin-top: -150px;
  }

  .diagonal-bg--mobile-bottom {
    margin-top: -50px;
  }

  .diagonal-bg--mobile::after {
    background: var(--color-pretty-in-pink);
    content: " ";
    display: block;
    height: 50px;
    margin-top: 25px;
    position: absolute;
    transform: rotate(-3deg);
    width: 150%;
  }

  section#options .section--content {
    background-color: var(--color-pretty-in-pink);
    margin-top: -100px;
    padding: calc(5rem - 50px) 5rem 5rem;
  }
}

@media (min-width: 42rem) {
  .diagonal-bg--desktop {
    background-color: var(--color-pretty-in-pink);
    width: 200%;
    position: absolute;
    top: 6px;
    left: -50%;
    height: 100%;
    z-index: 0;
    transform: rotate(-3deg);
  }
}

section#options .section--content * {
  z-index: 1;
  position: relative;
}

.options--visual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options--visual img {
  padding: 20px;
  width: 75%;
}

.options--or {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  padding: 16px;
  color: var(--color-red-hots);
}

.options--description {
  font-weight: 500;
  padding: 16px;
  text-align: center;
  font-size: 18px;
}

/* Section: How it works */

section#how-it-works {
  color: var(--color-linen);
}

.how-it-works--list {
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  max-width: 40rem;
}

.how-it-works--visual {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.how-it-works--visual img {
  width: 200px;
  padding: 20px;
}

.how-it-works--description {
  margin: 2rem auto;
  max-width: 15rem;
  text-align: center;
  line-height: 1.6rem;
}

.how-it-works--label {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* Section: Recap */

section#recap {
  position: relative;
  background: none;
}

section#recap .bg {
  background: var(--color-toxic-avenger) !important;
  width: calc(100% - 60px);
  max-width: 60rem;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  z-index: 0;
  border-radius: 20px;
  transform: skew(0deg, 1.4deg);
}

.recap--contents {
  text-align: center;
  z-index: 1;
  position: relative;
}

.recap--description {
  font-size: 2rem;
  margin: auto;
  max-width: 30rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.recap--link {
  display: inline-block;
  margin-top: 1rem;
}

.input-radio {
  width: 10px;
}

/* Special Footer style */

footer {
  color: var(--color-linen);
  padding: 2rem;
}

@media (max-width: 42rem) {
  .hero {
    text-align: center;
  }
  .hero .hero-logo {
    width: 100%;
    left: -24px;
    position: relative;
  }
  .options--visual img {
    /*padding:20px;*/
    width: 50%;
  }
}

section#newsletter {
  color: var(--color-linen);
  margin: auto;
}

.newsletter--description {
  margin: 2rem auto;
  max-width: 18rem;
  text-align: center;
  line-height: 1.6rem;
}

.copyWrapper {
  display: flex;
  border: 3px solid var(--color-midnight);
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  flex-direction: row;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#myInput {
  padding: 0px 24px;
  height: 50px;
  border: 0px;
  border-radius: 8px 0px 0px 8px;
  font-size: 19px;
  font-family: var(--font-brand);
  text-align: left;
  margin: 0px;
  margin-right: -3px;
  display: inline-block;
  width: 100%;
  outline: 0;
}

#copy {
  padding: 0px 30px;
  font-size: 15px;
  margin-right: 0px;
  display: inline-block;
  border: 0px;
  border-radius: 0px 5px 5px 0px;
  border-left: 3px solid var(--color-midnight);
  outline: 0;
}

.join-container {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 60rem) {
  .join-container {
    grid-template-columns: minmax(0, 1fr) 320px;
  }

  .join-image {
    position: relative;
    left: -1rem;
  }
}
