:root {
  --hero-height: calc(540px - var(--header-height));
  --hero-bg-height: calc(((var(--banner-height) + 10rem) / 2) + 100%);

  --banner-height: 320px;
  --color-background: var(--color-midnight);
  --color-divider: var(--color-opaque-white);
}

@media screen and (min-width: 768px) {
  :root {
    --banner-height: 500px;
  }
}

.layout__fluid {
  overflow-x: hidden;
  margin-top: calc((-1 * var(--header-height)) - 4px);
  padding-top: var(--header-height);
}

.header:not(.header__revealed) .navbar-toggle {
  color: var(--color-text);
}

.header:not(.header__revealed) .navbar-section {
  background-color: transparent;
  transition: background-color 250ms ease-in, max-height 250ms linear;
}

.header.header__revealed .navbar-section {
  background-color: transparent;
  transition: max-height 100ms linear;
}

.header:not(.header__revealed) .navbar-link__home {
  transition: opacity 200ms ease 200ms;
}

.header.header__expanded:not(.header__revealed) .navbar-section {
  background: var(--color-seafloor);
}

.header.header__expanded {
  border-bottom: 1px solid var(--color-opaque-white);
}

@media screen and (min-width: 768px) {
  .header:not(.header__revealed) .navbar-section {
    transition: max-height 250ms linear;
  }

  .header.header__expanded:not(.header__revealed) .navbar-section {
    background: transparent;
  }
  .header.header__expanded {
    border: none;
  }
}

.header__revealed {
  --color-background: var(--color-linen);
  --color-text: var(--color-midnight);
}

.navbar-link__home {
  opacity: 0;
}

.header__revealed .navbar-link__home,
.header__expanded .navbar-link__home {
  opacity: 1;
}

/**
  db   db d88888b d8888b.  .d88b.
  88   88 88'     88  `8D .8P  Y8.
  88ooo88 88ooooo 88oobY' 88    88
  88~~~88 88~~~~~ 88`8b   88    88
  88   88 88.     88 `88. `8b  d8'
  YP   YP Y88888P 88   YD  `Y88P'
*/

.hero {
  padding: 0;
  position: relative;
  min-height: var(--hero-height);
  align-items: flex-start;
}

.hero-bg {
  overflow: hidden;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(-1 * var(--header-height));
  height: var(--hero-bg-height);
  width: 100%;
  background: -moz-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0px,
    rgba(28, 14, 140, 1) 80%
  );
  background: -webkit-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0px,
    rgba(28, 14, 140, 1) 80%
  );
  background: linear-gradient(
    175deg,
    rgba(5, 4, 34, 1) 0px,
    rgba(28, 14, 140, 1) 80%
  );
  z-index: 0;
}

.hero-images {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero-imageFrame {
  position: relative;
  z-index: 0;
  display: inline-block;
}

.join-callout {
  position: relative;
}
.hero-container {
  width: 100%;
  max-width: 49rem;
  height: 100%;
  padding-top: 5rem;
  margin: 0 auto;
  right: 0px;
  left: 0px;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .hero-container--overflow {
    height: 100%;
    position: relative;
    width: 100%;
  }
}

.hero-bg-img {
  position: absolute;
  z-index: 0;
  user-select: none;
}

.star1 {
  top: 100%;
  right: 100%;
}

.star2 {
  right: 100%;
  bottom: 100%;
}

.star3 {
  top: 115%;
  left: 80%;
}

.star4 {
  width: 80%;
  bottom: 45%;
  left: 15%;
  max-width: 100%;
}

.star5 {
  top: 100%;
  left: 165%;
}

.mic {
  top: 50%;
  max-width: 50%;
  right: 0%;
}

@media screen and (min-width: 1024px) {
  .star1 {
    top: 100%;
    right: 100%;
  }

  .star2 {
    right: 100%;
    bottom: 100%;
  }

  .star3 {
    top: 115%;
    left: 80%;
  }

  .star4 {
    left: 0;
    bottom: 100%;
    right: 15%;
    max-width: 100%;
  }

  .star5 {
    top: 100%;
    left: 165%;
  }

  .mic {
    top: 50%;
    right: 0;
  }
}

.hero-logo {
  width: 130%;
  left: -22px;
  position: relative;
}

.hero-tagline {
  display: none;
  font-size: 1.2em;
  color: var(--color-linen);
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .hero-tagline {
    display: block;
  }
}

.hero--content {
  padding: var(--vertical-space) var(--page-padding);
}

@media (min-width: 68rem) {
  .hero--content {
    padding-left: 0;
    padding-right: 0;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 9px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.floating {
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.floating--short {
  animation-duration: 4s;
}

.floating--long {
  animation-duration: 9s;
}

/* Custom radio buttons to create/join a room*/

.custom-radios-hosting-joining {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  position: relative;
}

.input-radio {
  height: 10px;
  width: 10px;
  visibility: hidden;
}

.custom-checkmark {
  position: absolute;
  top: 0.3rem;
  left: 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--color-dirty-linen);
  border: 2.4px var(--color-linen) solid;
  border-radius: 100%;
}

.custom-radios-hosting-joining:hover input ~ .custom-checkmark {
  background-color: var(--color-smoke);
}

.custom-radios-hosting-joining input:checked ~ .custom-checkmark {
  background-color: var(--color-pretty-in-pink);
}

/* Section: Options */

.options-container {
  padding: var(--vertical-space) 0;
}

.options-diagonal {
  background-color: var(--color-pretty-in-pink);
  height: var(--banner-height);
  transform: rotate(-3deg);
  z-index: 0;
  display: flex;
  justify-content: center;
  margin-left: -10vw;
  width: 120vw;
  left: 0;
}

.options-content {
  padding: 1rem 0;
  margin: 0;
  display: flex;
  height: 100%;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotate(3deg);
  position: relative;
}

.options-content > * {
  position: relative;
  z-index: 1;
}

.options-content::after {
  bottom: 75%;
}

.options-content::before {
  top: 75%;
}

@media screen and (min-width: 32rem) {
  .options-content::before {
    top: 100%;
  }
}

.options-grid {
  position: relative;
  position: relative;
  display: grid;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
  grid-template-columns: minmax(0, 1fr) max-content minmax(0, 1fr);
}

.options--description {
  font-size: var(--font-size-sm);
  font-weight: var(--weight-title);
}

.options--visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options--visual img {
  width: 75%;
  max-width: 80%;
  user-select: none;
}

.options--or {
  text-align: center;
  font-weight: var(--weight-heavy);
  font-size: var(--page-subtitle-size);
  color: var(--color-red-hots);
}

.options-description {
  font-weight: var(--weight-title);
  padding: 1rem;
  text-align: center;
  font-size: var(--font-size-md);
}

/* Section: How it works */

section#steps {
  color: var(--color-linen);
}

.steps {
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  max-width: 40rem;
}

.steps-step {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.steps--visual {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.steps--visual img {
  width: 200px;
  padding: 20px;
}

.steps-description {
  margin: 0 auto;
  max-width: 15rem;
  text-align: left;
  line-height: var(--line-height-text);
}

.steps--label {
  display: block;
  font-size: var(--section-title-size);
  font-weight: var(--weight-title);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 60rem) {
  .steps-step {
    grid-template-columns: 1fr 1fr;
  }

  .steps-description {
    text-align: center;
  }
}

/* Section: Recap */

.recap {
  position: relative;
  background: none;
}

.recap::before {
  content: "";
  background: var(--color-toxic-avenger);
  width: calc(100% - 60px);
  max-width: 60rem;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  z-index: 0;
  border-radius: 20px;
  transform: skew(0deg, 1.4deg);
}

.recap-contents {
  width: calc(100% - 80px);
  text-align: center;
  z-index: 1;
  position: relative;
}

.recap-description {
  margin: auto;
  font-size: var(--font-size-md);
  max-width: 30rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.recap-link {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .recap-description {
    font-size: var(--font-size-xl);
  }

  .recap-contents {
    width: calc(100% - 120px);
  }
}

/* Special Footer style */

@media screen and (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero .hero-logo {
    width: 100%;
    left: -24px;
    position: relative;
  }
  .options--visual img {
    padding: 0.25rem;
    width: 65%;
  }
}

.newsletter--description {
  margin: 2rem auto;
  max-width: 18rem;
  text-align: center;
  line-height: var(--line-height-text);
}

.copyWrapper {
  display: flex;
  border: 3px solid var(--color-midnight);
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  flex-direction: row;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: var(--color-smoke);
  color: var(--color-linen);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: var(--font-size-xs);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-smoke) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#copy {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  font-size: var(--font-size-sm);
  margin-right: 0px;
  display: inline-block;
  border: 0px;
  border-radius: 0px 5px 5px 0px;
  border-left: 3px solid var(--color-midnight);
  outline: 0;
}

.join-form {
  position: relative;
  width: 520px;
  max-width: 100%;
  padding-top: 2rem;
}

.join-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .hero {
    padding-top: 5rem;
  }

  .join-container {
    flex-direction: row;
    align-items: flex-start;

    justify-content: space-between;
  }

  .hero-tagline {
    text-align: left;
    margin-bottom: 0;
  }

  .join-form {
    width: 320px;
  }

  .join-image {
    position: relative;
    left: -1rem;
  }
}

@media (max-width: 60rem) {
  .hero {
    padding-top: 1rem;
  }
}
