:root {
  --color-text: var(--color-linen);
  --color-link-text: var(--color-linen);
}

.room-container {
  background: url("https://cdn.glitch.com/f69fa717-be61-48e8-9ad2-e8edd524fe90%2Fshark.jpeg?v=1621051349334")
    no-repeat center fixed;
  background-size: cover;
  overflow: hidden;
  display: grid;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  overflow: hidden;
  row-gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows:
    4rem minmax(0, 1fr)
    4rem;
}

.video-container {
  padding: 1rem;
  align-items: end;
  justify-items: center;
  max-height: calc(100vh - 12rem);
  border-radius: 10px;
}

.video-container .group {
  display: grid;
  max-height: 100%;
  row-gap: 1rem;
  justify-items: center;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 2fr) minmax(0, 1fr);
}

.user-container {
  display: grid;
  max-width: 80vw;

  justify-content: start;
  padding: 0 0 2rem;
  align-items: start;
  grid-template-columns: repeat(3, minmax(25vw, 1fr));
  grid-auto-rows: minmax(auto, 25vh);
  column-gap: 0.5rem;
}
@media screen and (min-width: 480px) {
  .user-container {
    max-width: 65vw;
  }
}

@media screen and (min-width: 768px) {
  .user-container {
    max-width: 50vw;
    padding: 1rem;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  .video-container {
    align-items: center;
  }
}

.info-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: minmax(0, 1fr);
  justify-content: space-between;
  padding: 0.5rem;
}

.info-section {
  display: grid;
  column-gap: 0.25rem;
  grid-auto-flow: column;
  padding: 0.25rem 1rem;
  align-items: center;
}

/* ================ Face cams ================== */

#video-chat-room {
  justify-content: center;
}

.user {
  border-radius: 20px;
  overflow: hidden;
  max-height: 100%;
  position: relative;
}

.user-camera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  justify-content: center;
  border-radius: 24px;
  background-color: var(--color-jet);
  width: 200px;
  height: 120px;
  max-height: 100%;
  max-width: 100%;
  position: relative;

  box-shadow: 0 8px 6px -6px var(--color-jet);
}

.user-name {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
  color: var(--color-linen);
  background: linear-gradient(0, rgba(0, 0, 0, 0.75), transparent),
    linear-gradient(
      0,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.15),
      transparent,
      transparent
    );
  z-index: 1;
}

.controls-container {
  align-items: center;
  display: grid;
  grid-template-rows: minmax(0, 1fr);
}

/* ================ Buttons ================== */

.btn-group {
  display: flex;
  justify-content: center;
}

#btn-group2 {
  justify-content: flex-end;
}

.btn-group button {
  background-color: transparent;
  border: 0;
  margin: 0 0.25rem;
  cursor: pointer;
}

/* Clear floats (clearfix hack) */

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

#hideCameraButton {
  opacity: 0.6;
}

#playpauseButtonIcon {
  height: 90%;
}

#muteButton {
  opacity: 0.6;
}

#backButton {
  opacity: 0.6;
}

#nextButton {
  opacity: 0.6;
}

#volumeDownButton {
  opacity: 0.6;
}

#volumeUpButton {
  opacity: 0.6;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.08);
}

#hideCameraButton:hover {
  opacity: 90%;
  transition: opacity 0.2s ease-in;
}

#muteButton:hover {
  opacity: 90%;
  transition: opacity 0.2s ease-in;
}

#backButton:hover {
  opacity: 90%;
  transition: opacity 0.2s ease-in;
}

#nextButton:hover {
  opacity: 90%;
  transition: opacity 0.2s ease-in;
}

#volumeDownButton:hover {
  opacity: 90%;
  transition: opacity 0.2s ease-in;
}

#volumeUpButton:hover {
  opacity: 90%;
  transition: opacity 0.2s ease-in;
}

#playlistButton:hover {
  opacity: 90%;
  transition: opacity 0.2s ease-in;
}

#heartButton:hover {
  opacity: 90%;
  transition: opacity 0.2s ease-in;
}

/* ================ Footer ================== */

footer {
  background-color: var(--color-jet); /* var(--color-midnight) */
  width: 100%;
  padding: 0.25rem 0.5rem;
}

#footer--content {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr) max-content;
  align-items: center;
}

.footer-bg {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.footer-left {
  padding: 0;
  display: inline-block;
  flex: 1;
}

.footer-middle {
  align-self: center;
}

.footer-right {
  padding: 0;
  display: inline-block;
  flex: 1;
}

.footer-right {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
}
.footer-right button {
  opacity: 1;
  border-radius: 0.5rem;
  background-color: var(--color-opaque-white);
}

.footer-icons {
  margin-left: auto;
  font-size: 1.3rem;
  display: flex;
}

.social {
  margin: 10px;
  display: inline-block;
  height: 36px;
  width: 36px;
  opacity: 0.6;
  vertical-align: bottom;
  margin-top: 8px;
}

.social:hover {
  opacity: 100%;
  transition: opacity 0.2s ease-in;
}

#footer-name {
  font-size: 1.35rem;
  font-weight: var(--weight-title);
}

#leaveRoomButton {
  text-transform: uppercase;
  border: 2px solid var(--color-linen);
  color: var(--color-text);
  background-color: transparent;
}

/* ================= Karaoke TV Video ================= */

#karaoke-video {
  display: block;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  margin: 0 auto;
}

.karaoke-video-mask {
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
}

video {
  width: 100%;
  border-radius: 10px;
}

.controls[data-state="hidden"] {
  display: none;
}

.controls[data-state="visible"] {
  display: block;
}

button[data-state="mute"] {
  /* font-size: 1.3rem; */
}

.jquery-modal.blocker {
  background-color: transparent;
}

/* ================================ Songs modal ======================== */

.modal {
  padding: 40px 25px 25px 25px;
}

.modal p {
  text-align: center;
}

.modal.modal__large {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  max-width: 1200px;
}

.modal-content {
  color: var(--color-slate);
  width: 100%;
  max-width: 75rem;
  display: grid;
  grid-template-rows: 1fr 5rem;
  row-gap: 1rem;
  grid-template-rows: 1fr max-content;
}

.modal.modal__large .close-modal {
  filter: invert(1);
  top: 5px;
  right: 5px;
}

.catalog-grid {
  display: grid;
  gap: 1rem;
  max-height: 60vh;
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .footer-right {
    position: static;
  }
  .footer-right button {
    opacity: 0.6;
    background-color: transparent;
  }
  .catalog-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .catalog-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.catalog-controls {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
}

.control-btn {
  border: 1px solid var(--color-old-laundry);
  border-radius: 2px;
  display: block;
  padding: 1rem 0.5rem;
  text-align: center;
  width: 100%;
}

@media (min-width: 28rem) {
}

@media (min-width: 42rem) {
  .catalog-controls {
    grid-template-columns: unset;
    justify-content: end;
  }
  .controls .button {
    padding: 0 4rem;
  }
}

#added-notice {
  display: none;
}

#added-notice[populated] {
  align-items: center;
  display: flex;
  font-size: 1.125rem;
  height: 100%;
  justify-content: center;
  left: 15%;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 70%;
}

@media (min-width: 768px) {
  #added-notice[populated] {
    left: calc(50% - 17rem);
    width: 34rem;
  }
}

.added-notice-contents {
  background: rgba(0, 0, 0, 0.85);
  border: 2px solid transparent;
  border-radius: 8px;
  color: var(--color-linen);
  cursor: pointer;
  padding: 2rem 3rem;
  text-align: center;
}

.added-notice-contents:active,
.added-notice-contents:focus {
  border: 2px solid var(--color-linen);
}

#added-notice-song {
  color: var(--color-old-yellow);
}

/* Individual jukebox songs */

.catalog-item {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  text-align: left;
  position: relative;
  outline: 0;
}

.jukebox-selected {
  outline: 0;
  border-radius: 4px;
}

.catalog-item img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  border: 4px solid transparent;
}

.jukebox-selected img {
  border: 4px solid var(--color-old-yellow);
}

.jukebox-selected:before {
  content: "";
  position: absolute;
  top: -15px;
  right: -10px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: var(--color-old-yellow)
    url(https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2Fcheck.svg?v=1595801420385)
    center no-repeat;
}

.title {
  font-weight: var(--weight-title);
  margin: 0.5rem 0 0.25rem;
}

.copyWrapper {
  display: flex;
  border: 3px solid var(--color-midnight);
  border-radius: 8px;
}

#giveFeedbackButton {
  cursor: pointer;
  display: block;
  margin: auto;
  width: 83%;
  margin-top: 25px;
}

#reportBugButton {
  cursor: pointer;
  display: block;
  margin: auto;
  width: 83%;
  margin-bottom: 20px;
}

#roomName {
  color: var(--color-midnight);
  font-weight: var(--weight-title);
}

/* Invite Model */

#invite {
  top: 20px;
  right: 200px;
  position: absolute;
  font-weight: var(--weight-heavy);
}

#song {
  cursor: pointer;
  top: 20px;
  right: 40px;
  z-index: 2;
  position: absolute;
  font-weight: var(--weight-heavy);
}

#scene-logo {
  top: 32px;
  left: 50px;
  z-index: 2;
  position: absolute;
  font-family: var(--font-brand);
  font-size: 1.6em;
  font-weight: var(--weight-heavy);
  line-height: var(--line-height-text);
  text-decoration: none !important;
  justify-content: space-between;
  margin: auto;
  font-weight: var(--weight-heavy);
}

/* #scene-logo a {
  text-decoration: none;
  color: var(--color-linen);
} */

#inviteModal {
  font-family: var(--font-brand);
  color: var(--color-slate);
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: var(--color-smoke);
  color: var(--color-linen);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: var(--font-size-xs);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-smoke) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#copy {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  font-size: var(--font-size-sm);
  margin-right: 0px;
  display: inline-block;
  border: 0px;
  border-radius: 0px 5px 5px 0px;
  border-left: 3px solid var(--color-midnight);
  outline: 0;
}

.shareButton {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 400px;
}

.fb-share-button {
  margin-left: 11px;
}

#feedback {
  border-radius: 50%;
  height: auto;
  width: 2.25rem;
  background: var(--color-linen)
    url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2Ffeedback.svg?v=1596918776029")
    no-repeat center center;
  background-size: 50%;
}

@media screen and (min-width: 768px) {
  #feedback {
    width: 3rem;
  }
}

#feedbackModal {
  font-family: var(--font-brand);
  color: var(--color-slate);
  text-align: center;
}
