@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Semi%20Bold.otf?v=1591822746292");
  font-weight: 500;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Regular.otf?v=1591822742735");
  font-weight: 400;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Bold.otf?v=1591822725254");
  font-weight: 600;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Heavy.otf?v=1591822730897");
  font-weight: 700;
}


/**

  db    db  .d8b.  d8888b. d888888b  .d8b.  d8888b. db      d88888b .d8888.
  88    88 d8' `8b 88  `8D   `88'   d8' `8b 88  `8D 88      88'     88'  YP
  Y8    8P 88ooo88 88oobY'    88    88ooo88 88oooY' 88      88ooooo `8bo.
  `8b  d8' 88~~~88 88`8b      88    88~~~88 88~~~b. 88      88~~~~~   `Y8b.
  `8bd8'  88   88 88 `88.   .88.   88   88 88   8D 88booo. 88.     db   8D
    YP    YP   YP 88   YD Y888888P YP   YP Y8888P' Y88888P Y88888P `8888Y'
*/

:root {
  --breakpoint-xs: 28rem;
  --breakpoint-sm: 35rem;
  --breakpoint-md: 42rem;
  --breakpoint-lg: 49rem;
  --breakpoint-xl: 68rem;

  --font-brand: Linotte, Arial, Helvetica, sans-serif;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.375rem;
  --font-size-xl: 2rem;
  --line-height: 1.5;
  --weight-heavy: 700;
  --weight-regular: 500;


  --color-linen: #ffffff;
  --color-cloud-nine: #f1f1f1;
  --color-sail: #f7f7f7;
  --color-dirty-linen: #eeeeee;
  --color-alabaster: #dad8de;
  --color-old-laundry: #cccccc;
  --color-smoke: #555555;
  --color-industry: #444444;
  --color-machine: #333333;
  --color-jet: #000000;
  --color-frozen-blueberry: #8193b2;
  --color-slate: #5e6c76;
  --color-deep-blue-something: #0c0a57;
  --color-midnight: #050422;
  --color-peach: #ffb48e;
  --color-tang: #ff8647;
  --color-pink-well: #df73ff;
  --color-magentleman: #c202fb;
  --color-valentines: #ff93ad;
  --color-pretty-in-pink: #fe3466;
  --color-red-hots: #b61f44;
  --color-toxic-avenger: #d6ffa6;
  --color-slurm: #93d4a8;
  --color-freon: #5cdc89;
  --color-moray-teal: #51e8e4;
  --color-neon-demon: #efff9e;
  --color-bananarama: #f4ca2c;
  --color-old-yellow: #c8ef00;

  --color-text: var(--color-midnight);
  --color-link-text: var(--color-midnight);
  --color-link-underline: var(--color-peach);

  --content-width-md: 40rem;

  --vertical-space: 3rem;
}

@media screen and (min-width: 68rem) {
  :root {
    --vertical-space: 5rem;
  }
}

.light {
  --color-text: var(--color-midnight);
  --color-link-text: var(--color-midnight);
  color: var(--color-text);
}

.dark {
  --color-text: var(--color-linen);
  --color-link-text: var(--color-linen);
  color: var(--color-text);
}

.dark-bg {
  --color-text: var(--color-linen);
  --color-link-text: var(--color-linen);
  color: var(--color-text);
  background-color: var(--color-midnight);
}

.magenta {
  color: var(--color-magentleman);
}

.yellow {
  color: var(--color-old-yellow);
}

.yellow__light {
  color: var(--color-bananarama);
}

.pink {
  color: var(--color-pink-well);
}

.pink__light {
  color: var(--color-valentines);
}

.pink__dark {
  color: var(--color-pretty-in-pink);
}

.orange {
  color: var(--color-tang);
}

.green {
  color: var(--color-freon);
}

.green__light {
  color: var(--color-slurm);
}

.teal {
  color: var(--color-moray-teal);
}

/**
d8888b. d88888b .d8888. d88888b d888888b
88  `8D 88'     88'  YP 88'     `~~88~~'
88oobY' 88ooooo `8bo.   88ooooo    88
88`8b   88~~~~~   `Y8b. 88~~~~~    88
88 `88. 88.     db   8D 88.        88
88   YD Y88888P `8888Y' Y88888P    YP
*/

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-brand);
  font-weight: 400;
  overflow-x: hidden;
  color: var(--color-text);
}

img {
  max-width: 100%;
}

/* Text */

h2 {
  font-weight: 600;
  font-size: var(--font-size-xl);
  margin: 0 0 1rem;
  text-align: left;
}

p {
  text-align: left;
  margin-bottom: 10px;
}

a {
  color: var(---color-link-text);
  cursor: pointer;
  text-decoration: none;
}

blockquote {
  text-align: center;
  font-style: italic;
}

/**
  d88888b db      d88888b .88b  d88. d88888b d8b   db d888888b .d8888.
  88'     88      88'     88'YbdP`88 88'     888o  88 `~~88~~' 88'  YP
  88ooooo 88      88ooooo 88  88  88 88ooooo 88V8o 88    88    `8bo.
  88~~~~~ 88      88~~~~~ 88  88  88 88~~~~~ 88 V8o88    88      `Y8b.
  88.     88booo. 88.     88  88  88 88.     88  V888    88    db   8D
  Y88888P Y88888P Y88888P YP  YP  YP Y88888P VP   V8P    YP    `8888Y'
*/

.brand-logo {
  font-size: inherit;
  margin: 0;
  position: relative;
  font-weight: var(--weight-heavy);
  top: 4px;
}

.brand-betatag {
  background: var(--color-pretty-in-pink);
  color: var(--color-linen);
  font-size: var(--font-size-md);
  padding: 0.01rem 0.4rem;
  position: absolute;
  left: calc(100% + 0.25rem);
  top: -32%;
  height: 22px;
  border-radius: 2px;
  line-height: var(--line-height);
  transform: rotate(-10deg);
  font-weight: 500;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-md);
  text-transform: uppercase;
  padding: 0.25rem 1.5rem;
  height: 3rem;
  font-weight: 600;
  border: 3px solid var(--color-midnight);
  font-family: var(--font-brand);
  background-color: var(--color-linen);
  color: var(--color-midnight);
  text-decoration: none;
  border-radius: 0.5rem;
  transition: 0.2s background-color;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  background-color: #dad8de;
}

.button-bold {
  background-color: var(--color-old-yellow);
}

.button-bold:hover {
  background-color: #9cb931;
}

.button-bold[disabled] {
  opacity: 0.5;
}

/**

db   db d88888b  .d8b.  d8888b. d88888b d8888b.
88   88 88'     d8' `8b 88  `8D 88'     88  `8D
88ooo88 88ooooo 88ooo88 88   88 88ooooo 88oobY'
88~~~88 88~~~~~ 88~~~88 88   88 88~~~~~ 88`8b
88   88 88.     88   88 88  .8D 88.     88 `88.
YP   YP Y88888P YP   YP Y8888D' Y88888P 88   YD

*/

.header {
  transform: translate(0, -100%);
  font-size: var(--font-size-lg);
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--font-brand);
  font-size: 1.5em;
  font-weight: var(--weight-heavy);
  line-height: var(--line-height);
  z-index: 999;
}

.header__revealed {
  --color-text: var(--color-midnight);
  --color-link-text: var(--color-midnight);
  background-color: var(--color-linen);
  visibility: visible;
  position: sticky;
  box-shadow: 0px -3px 20px 1px rgba(0, 0, 0, 0.3);
  background: var(--color-linen);
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 60rem;
  max-width: calc(100% - 60px);
  width: 100%;
  padding: 0 1rem;
}

.header-navlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navitem {
  display: inline-block;
}

.header-navitem + .header-navitem {
  margin-left: 2rem;
}

.header-navlink {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--font-size-lg);
  display: inline-block;
  color: var(--color-link-text);
  position: relative;
  line-height: var(--line-height);
  transition: all 0.2s ease-in-out;
}

.header-navlink__home {
  color: var(--color-link-text);
  text-decoration: none;
}

.header-navlink__active:before {
  content: " ";
  background-color: var(--color-link-underline);
  height: 0.75em;
  left: -.75rem;
  right: -.75rem;
  bottom: 0.25rem;
  position: absolute;
  z-index: -1;
  border-radius: calc(0.75em / 2);
}

.header-navlink:hover:not(.header-navlink__active) {
  transform: scale(1.07);
}

@media screen and (min-width: 768px) {
  .header {
    transform: none;
  }
}
/**

 .o88b.  .d88b.  d8b   db d888888b d88888b d8b   db d888888b
d8P  Y8 .8P  Y8. 888o  88 `~~88~~' 88'     888o  88 `~~88~~'
8P      88    88 88V8o 88    88    88ooooo 88V8o 88    88
8b      88    88 88 V8o88    88    88~~~~~ 88 V8o88    88
Y8b  d8 `8b  d8' 88  V888    88    88.     88  V888    88
 `Y88P'  `Y88P'  VP   V8P    YP    Y88888P VP   V8P    YP
 */

.container__md {
  max-width: calc(640px + 4rem);
  padding: 8rem 2rem 0;
  width: 100%;
  margin: 0 auto;
}

.section--content,
.section--callout {
  position: relative;
  margin: auto;
  padding: var(--vertical-space) 0;
  max-width: 49rem;
}

.article-grid {
  display: grid;
  row-gap: 4rem;
}

main {
  overflow: hidden;
}

.link {
  position: relative;
}

.link:before {
  position: absolute;
  background-color: var(--color-link-underline);
  width: 100%;
  height: 4px;
  bottom: -3px;
  content: " ";
  mix-blend-mode: multiply;
  transition: height 0.3s ease;
  transition-delay: 0s;
  border-radius: 4px;
}

.link:hover:before {
  height: calc(100% + 6px);
}


.link__plain:before {
  display: none;
}

.emojilist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.emojilist-item {
  padding: 0;
}

li {
  padding: 4px;
}

.blue-gradient {
  background: rgb(5, 4, 34);
  background: -moz-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
  background: -webkit-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
  background: linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
}

/**
    d88888b  .d88b.   .d88b.  d888888b d88888b d8888b.
    88'     .8P  Y8. .8P  Y8. `~~88~~' 88'     88  `8D
    88ooo   88    88 88    88    88    88ooooo 88oobY'
    88~~~   88    88 88    88    88    88~~~~~ 88`8b
    88      `8b  d8' `8b  d8'    88    88.     88 `88.
    YP       `Y88P'   `Y88P'     YP    Y88888P 88   YD
*/

/* Sonny 8/19/2020 */

.footer {
  background-color: var(--color-jet);
  color: var(--color-linen);
  padding: 2rem;
}

.footer-container {
  width: calc(100% - 60px);
  max-width: 70rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  flex-direction: row;
  align-items: center;
}

.footer-bg {
  width: calc(100% - 60px);
  max-width: 55rem;
  margin: auto;
}

.footer-left {
  padding: 0;
  display: inline-block;
  flex: 1;
}

.footer-icons {
  margin-left: auto;
  font-size: var(--font-size-lg);
  display: flex;
}

.social {
  margin: 10px;
  display: inline-block;
  height: 36px;
  width: 36px;
  opacity: 0.6;
  vertical-align: bottom;
  margin-top: 8px;
}

.social:hover {
  opacity: 100%;
  transition: opacity 0.2s ease-in;
}

#footer-name {
  font-size: var(--font-size-lg);
  font-weight: var(--weight-heavy);
}
