@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  box-sizing: border-box;
}
/* Fonts */

@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Regular.otf?v=1591822742735");
  font-weight:400;
}

@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Bold.otf?v=1591822725254");
  font-weight:600;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Heavy.otf?v=1591822730897");
  font-weight:700;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Light.otf?v=1591822739554");
  font-weight:300;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Semi%20Bold.otf?v=1591822746292");
  font-weight:500;
}

/* Button */

.button{
  -webkit-appearance: none;
  font-size:18px;
  text-transform: uppercase;
  padding:0px 24px; 
  height:50px;
  line-height:47px;
  font-weight:600;
  border:3px solid #050422;
  font-family: "Linotte";
  background-color: white;
  color: #050422;
  text-decoration:none;
  border-radius:8px;
  transition:.2s background-color;
  text-align: center;
}

.button:hover{
  cursor: pointer;
  background-color:#DAD8DE;
}

.button-bold{
  background-color: #C8EF00;
}

.button-bold:hover{
  background-color: #9CB931;
}

/* Text */

h2 {
  font-weight:600;
  font-size:2rem;
}

/* Header */

header {
  font-size: 1.35rem;
  padding: 1rem;
  position:relative;
  top: 0;
  font-family: "Linotte", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4em;
  z-index:999;
}

header.revealed{
  visibility:visible;
  position:sticky;
  box-shadow:0px -3px 20px 1px rgba(0,0,0,.3);
  background:white;
}

.header--contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width:60rem;
  max-width: calc(100% - 60px);
  width: 100%;
}

header .page-link a {
  text-transform:uppercase;
  text-decoration:none !important;
  font-weight:600;
  font-size:1.2rem;
  color: #050422;
}

.logo {
  font-size: inherit;
  margin: 0;
  position: relative;
  font-weight:700;
  top:4px;
}

.logo a{
  text-decoration:none;
  color: #050422;
}

header .page-link.about{
  margin-right:40px;
}

.about{
  margin: 0 auto;
  max-width: 40em;
}

.tag-tilt {
  background: #FE3466;
  color: white;
  font-size: 1rem;
  padding: .01rem 0.4rem;
  position: absolute;
  left: calc(100% + 0.25rem);
  top: -32%;
  height: 22px;
  border-radius: 2px;
  line-height: 25px;
  transform: rotate(-10deg);
  font-weight:400;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  box-sizing: border-box;
}
/* Fonts */

@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Regular.otf?v=1591822742735");
  font-weight:400;
}

@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Bold.otf?v=1591822725254");
  font-weight:600;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Heavy.otf?v=1591822730897");
  font-weight:700;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Light.otf?v=1591822739554");
  font-weight:300;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Semi%20Bold.otf?v=1591822746292");
  font-weight:500;
}

/* Button */

.button{
  font-size:18px;
  text-transform: uppercase;
  padding:0px 24px; 
  height:50px;
  line-height:47px;
  font-weight:600;
  border:3px solid #050422;
  font-family: "Linotte";
  background-color: white;
  color: #050422;
  text-decoration:none;
  border-radius:8px;
  transition:.2s background-color;
  text-align: center;
}

.button:hover{
  cursor:pointer;
  background-color:#DAD8DE;
}

.button-bold{
  background-color: #C8EF00;
}

.button-bold:hover{
  background-color: #9CB931;
}

.button-bold[disabled] {
  opacity: 0.5;
}

/* Text */

h2 {
  font-weight:600;
  font-size:2rem;
}

/* Header */

header {
  font-size: 1.35rem;
  padding: 1rem;
  position:relative;
  top: 0;
  font-family: "Linotte", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4em;
  z-index:999;
}

header.revealed{
  visibility:visible;
  position:sticky;
  box-shadow:0px -3px 20px 1px rgba(0,0,0,.3);
  background:white;
}

.header--contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  max-width:60rem;
  max-width: calc(100% - 60px);
  width: 100%;
}

header .page-link a {
  text-transform:uppercase;
  text-decoration:none !important;
  font-weight:600;
  font-size:1.2rem;
  color: #050422;
}

.logo {
  font-size: inherit;
  margin: 0;
  position: relative;
  font-weight:700;
  top:4px;
}

.logo a{
  text-decoration:none;
  color: #050422;
}

header .page-link.blog{
  margin-right:40px;
}

header .page-link.faq{
  margin-right:40px;
}

.tag-tilt {
  background: #FE3466;
  color: white;
  font-size: 1rem;
  padding: .01rem 0.4rem;
  position: absolute;
  left: calc(100% + 0.25rem);
  top: -32%;
  height: 22px;
  border-radius: 2px;
  line-height: 25px;
  transform: rotate(-10deg);
  font-weight: 500;
}


.blue-gradient {
  background: rgb(5,4,34);
  background: -moz-linear-gradient(176deg, rgba(5,4,34,1) 0%, rgba(8,5,113,1) 100%);
  background: -webkit-linear-gradient(176deg, rgba(5,4,34,1) 0%, rgba(8,5,113,1) 100%);
  background: linear-gradient(176deg, rgba(5,4,34,1) 0%, rgba(8,5,113,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050422",endColorstr="#080571",GradientType=1);
}

/* Footer */

/* Sonny 8/19/2020 */

footer {
  background-color: black;
  color: white;
  padding: 2rem;
}

#footer--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  flex-direction: row;
  align-items: center;
}

.footer-bg {
  width: calc(100% - 60px);
  max-width: 55rem;
  margin: auto; 
}

.footer-left {
  padding: 0;
  display: inline-block;
  flex: 1;
}

.footer-icons {
  margin-left: auto;
  font-size: 1.3rem;
  display: flex;
}

.social {
  margin: 10px;
  display: inline-block;
  height: 36px;
  width: 36px;
  opacity: 0.6;
  vertical-align: bottom;
  margin-top: 8px;
}

.social:hover {
  opacity: 100%;
  transition: opacity 0.2s ease-in;
}

#footer-name {
  font-size: 1.35rem;
  font-weight: bold;
}

.grow { 
  transition: all .2s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.07); 
}

.floating {   
    animation-name: floating; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px; 
} 
  
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 9px); } 
    100%   { transform: translate(0, -0px); }     
} 

.floating2 {   
    animation-name: floating; 
    animation-duration: 9s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px; 
} 
  
@keyframes floating2 { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 3px); } 
    100%   { transform: translate(0, -0px); }     
} 