/** @format */

@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Regular.otf?v=1591822742735");
  font-weight: 400;
}

@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Bold.otf?v=1591822725254");
  font-weight: 600;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Heavy.otf?v=1591822730897");
  font-weight: 700;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Light.otf?v=1591822739554");
  font-weight: 300;
}
@font-face {
  font-family: "Linotte";
  src: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2FLinotte%20Semi%20Bold.otf?v=1591822746292");
  font-weight: 500;
}

:root {
  --breakpoint-xs: 28rem;
  --breakpoint-sm: 35rem;
  --breakpoint-md: 42rem;
  --breakpoint-lg: 49rem;
  --breakpoint-xl: 68rem;

  --font-brand: Linotte, Arial, Helvetica, sans-serif;

  --color-linen: #ffffff;
  --color-midnight: #050422;
  --color-peach: #ffb48e;
  --color-deep-blue-something: #0c0a57;

  --color-pretty-in-pink: #fe3466;
  --color-red-hots: #b61f44;
  --color-toxic-avenger: #d6ffa6;
  --color-magentleman: #c202fb;
  --color-pink-well: #df73ff;
  --color-old-yellow: #c8ef00;
  --color-moray-teal: #51e8e4;

  --color-text: var(--color-midnight);
  --color-link-text: var(--color-midnight);
  --color-link-underline: var(--color-peach);
}

.light {
  --color-text: var(--color-midnight);
  --color-link-text: var(--color-midnight);
  color: var(--color-text);
}

.dark {
  --color-text: var(--color-linen);
  --color-link-text: var(--color-linen);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-brand);
  font-weight: 400;
  color: var(--color-midnight);
}

p {
  text-align: left;
  margin-bottom: 10px;
}

a {
  color: var(---color-link-text);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

blockquote {
  font-style: italic;
}

img {
  max-width: 100%;
}

/* Text */

h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 0 0 1rem;
  text-align: left;
}

/* Button */

.button {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 24px;
  height: 50px;
  line-height: 47px;
  font-weight: 600;
  border: 3px solid var(--color-midnight);
  font-family: var(--font-brand);
  background-color: var(--color-linen);
  color: var(--color-midnight);
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s background-color;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  background-color: #dad8de;
}

.button-bold {
  background-color: var(--color-old-yellow);
}

.button-bold:hover {
  background-color: #9cb931;
}

.button-bold[disabled] {
  opacity: 0.5;
}

/* Text */

h2 {
  font-weight: 600;
  font-size: 2rem;
}

/**

db   db d88888b  .d8b.  d8888b. d88888b d8888b. 
88   88 88'     d8' `8b 88  `8D 88'     88  `8D 
88ooo88 88ooooo 88ooo88 88   88 88ooooo 88oobY' 
88~~~88 88~~~~~ 88~~~88 88   88 88~~~~~ 88`8b   
88   88 88.     88   88 88  .8D 88.     88 `88. 
YP   YP Y88888P YP   YP Y8888D' Y88888P 88   YD 

*/

header {
  font-size: 1.35rem;
  padding: 1rem;
  position: relative;
  top: 0;
  font-family: var(--font-brand);
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4em;
  z-index: 999;
}

header.revealed {
  --color-text: var(--color-midnight);
  --color-link-text: var(--color-midnight);
  visibility: visible;
  position: sticky;
  box-shadow: 0px -3px 20px 1px rgba(0, 0, 0, 0.3);
  background: white;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 60rem;
  max-width: calc(100% - 60px);
  width: 100%;
  padding: 0 1rem;
}

.brand-logo {
  font-size: inherit;
  margin: 0;
  position: relative;
  font-weight: 700;
  top: 4px;
}

.brand-betatag {
  background: var(--color-pretty-in-pink);
  color: var(--color-linen);
  font-size: 1rem;
  padding: 0.01rem 0.4rem;
  position: absolute;
  left: calc(100% + 0.25rem);
  top: -32%;
  height: 22px;
  border-radius: 2px;
  line-height: 25px;
  transform: rotate(-10deg);
  font-weight: 500;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: inline-block;
}

.navigation-item + .navigation-item {
  margin-left: 2rem;
}

.navigation-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
  color: var(--color-link-text);
  position: relative;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
}

.navigation-link--home {
  color: var(--color-link-text);
  text-decoration: none;
}

.navigation-link__active:before {
  content: " ";
  background-color: var(--color-link-underline);
  height: 1rem;
  width: calc(100% + 25px);
  left: -12px;
  bottom: 0;
  position: absolute;
  z-index: -1;
  border-radius: 20px;
}

.navigation-link:hover:not(.navigation-link__active) {
  transform: scale(1.07);
}

/**

 .o88b.  .d88b.  d8b   db d888888b d88888b d8b   db d888888b 
d8P  Y8 .8P  Y8. 888o  88 `~~88~~' 88'     888o  88 `~~88~~' 
8P      88    88 88V8o 88    88    88ooooo 88V8o 88    88    
8b      88    88 88 V8o88    88    88~~~~~ 88 V8o88    88    
Y8b  d8 `8b  d8' 88  V888    88    88.     88  V888    88    
 `Y88P'  `Y88P'  VP   V8P    YP    Y88888P VP   V8P    YP 
 */

main a:hover:before {
  height: calc(100% + 6px);
}

main a:before {
  position: absolute;
  background-color: var(--color-link-underline);
  width: 100%;
  height: 4px;
  bottom: -3px;
  content: " ";
  mix-blend-mode: multiply;
  transition: height 0.3s ease;
  transition-delay: 0s;
  border-radius: 4px;
}

li {
  padding: 4px;
}

.blue-gradient {
  background: rgb(5, 4, 34);
  background: -moz-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
  background: -webkit-linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
  background: linear-gradient(
    176deg,
    rgba(5, 4, 34, 1) 0%,
    rgba(8, 5, 113, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color-midnight)",endColorstr="#080571",GradientType=1);
}

section:nth-of-type(even) {
  background: #ccc;
}

/* Section: Options */

section#options {
  position: relative;
  background: none;
  color: var(--color-linen);
  text-align: center;
}
.diagonal-bg {
  background-color: var(--color-pretty-in-pink);
  width: 200%;
  position: absolute;
  top: 6px;
  left: -50%;
  height: 100%;
  z-index: 0;
  transform: rotate(-3deg);
}

.section--content {
  margin: auto;
  max-width: 49rem;
}

.section--callout {
  padding: 2rem 0;
}

section#options .section--content * {
  z-index: 1;
  position: relative;
}

.options--visual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options--visual img {
  padding: 20px;
  width: 75%;
}

.options--or {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  padding: 16px;
  color: var(--color-red-hots);
}

.options--description {
  font-weight: 500;
  padding: 16px;
  text-align: center;
  font-size: 18px;
}

/* Special Footer style */

.highlighted {
  position: relative;
}

.highlighted:before {
  content: " ";
  background-color: var(--color-link-underline);
  height: 70%;
  width: calc(100% + 25px);
  left: -12px;
  bottom: -2px;
  position: absolute;
  z-index: -1;
  border-radius: 20px;
}

/**
    d88888b  .d88b.   .d88b.  d888888b d88888b d8888b. 
    88'     .8P  Y8. .8P  Y8. `~~88~~' 88'     88  `8D 
    88ooo   88    88 88    88    88    88ooooo 88oobY' 
    88~~~   88    88 88    88    88    88~~~~~ 88`8b   
    88      `8b  d8' `8b  d8'    88    88.     88 `88. 
    YP       `Y88P'   `Y88P'     YP    Y88888P 88   YD 
*/

/* Sonny 8/19/2020 */

.footer {
  background-color: var(--color-midnight);
  color: var(--color-linen);
  padding: 2rem;
}

.footer-container {
  width: calc(100% - 60px);
  max-width: 70rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  flex-direction: row;
  align-items: center;
}

.footer-bg {
  width: calc(100% - 60px);
  max-width: 55rem;
  margin: auto;
}

.footer-left {
  padding: 0;
  display: inline-block;
  flex: 1;
}

.footer-icons {
  margin-left: auto;
  font-size: 1.3rem;
  display: flex;
}

.social {
  margin: 10px;
  display: inline-block;
  height: 36px;
  width: 36px;
  opacity: 0.6;
  vertical-align: bottom;
  margin-top: 8px;
}

.social:hover {
  opacity: 100%;
  transition: opacity 0.2s ease-in;
}

#footer-name {
  font-size: 1.35rem;
  font-weight: bold;
}

.container--md {
  max-width: calc(640px + 4rem);
  padding: 4rem 2rem 0;
  width: 100%;
  margin: 0 auto;
}

.article-grid {
  display: grid;
  row-gap: 4rem;
}

@media (min-width: 42rem) {
  .layout-flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .layout-flex--half {
    flex: 3;
  }

  .layout-flex--third {
    flex: 2;
  }
}
