@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
/*   background: #4CAF50; */
  background: #ff91a4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
/*   background: #43A047; */
  background: #fc6c85;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
/*   text-align: center; */
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

body {
/*   background: #76b852; /* fallback for old browsers */
/*   background-image: url("https://cdn.glitch.com/b316bbdc-0b0c-4c6d-94fb-fffb37f510a9%2Fdog.gif?v=1589773568938"); */
/*   background-color: #370ea3; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

#hosting, #joining {
  width: 10%;
/*   text-align: left; */
/*   display: inline; */
}

/* .all-divs{ width: 100%; text-align:justify; display:flex; flex-direction:column; align-items:center; justify-content:center; }
 */

/* .input-radio {
  display: inline;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
    text-align: left;

} */

footer {
  position: absolute;
  bottom: 2px;
  right: 5px;
  width: 100%;
  height: 1.5rem;            /* Footer height */
  font-weight: bold;
  text-align: right;
  color: #484848;
  font-size: 16px;

}

#footer-text {
  display:inline;
  bottom: 0px;
}

#coffee {
  vertical-align: bottom;
  bottom: 5px:
}